.carousels-swiper.swiper {
  overflow: visible;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .carousels-swiper.swiper {
    padding: 0 40px;
  }
}

@media (min-width: 1200px) {
  .carousels-swiper.swiper {
    padding: 0 80px;
  }
}

.carousels-swiper .swiper-slide {
  height: auto;
}

[class*="carousels-arrow-left-"].swiper-button-disabled,
[class*="carousels-arrow-right-"].swiper-button-disabled {
  background: var(--color-secondary-light);
}

[class*="carousels-arrow-left-"].swiper-button-lock,
[class*="carousels-arrow-right-"].swiper-button-lock {
  display: none;
}
