@import "./theme.css";
@import "./btn-styles.scss";

:root {
  --transition: all 0.2s linear;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-body-color);
  font-family: var(--font-helvetica-neue);
}

.title-font {
  font-family: var(--font-helvetica-neue);
}

.title-font-2 {
  font-family: var(--font-instrument-serif);
}

.transition-timing {
  transition: var(--transition);
}

// TITLE
.text-title-3x-large {
  @extend .title-font;
  @apply text-[44px] leading-[52px] md:text-[70px] md:leading-20;
  em {
    @extend .title-font-2;
    @apply text-[48px] leading-[52px] md:text-[80px] md:leading-[80px];
  }
}

.text-title-2x-large {
  @extend .title-font;
  @apply text-[40px] leading-[48px] md:text-[52px] md:leading-[62px];
  em {
    @extend .title-font-2;
    @apply text-[40px] leading-[44px] md:text-[52px] md:leading-[64px];
  }
}

.text-title-x-large {
  @extend .title-font;
  @apply text-[32px] leading-[40px] md:text-[48px] md:leading-[62px];
}

.text-title-large {
  @extend .title-font;
  @apply text-[24px] leading-[30px] md:text-[36px] md:leading-10;
}

.text-title-medium {
  @extend .title-font;
  @apply text-[20px] leading-[30px] md:text-[32px] md:leading-10;
}

.text-title-base {
  @extend .title-font;
  @apply text-[20px] leading-[26px] md:text-[24px] md:leading-7;
}

.text-title-base-blog {
  @extend .title-font;
  @apply text-[16px] leading-[26px] md:text-[18px] md:leading-[26px];
}

// ==================================== BODY TEXT ====================================
.text-body-large {
  @apply text-[20px] leading-[30px] md:text-[24px] md:leading-10;
}

.text-body-medium {
  @apply text-[18px] leading-7 md:text-[20px] md:leading-8;
}

.text-body-base-bold {
  @apply text-[16px] leading-[26px] md:text-[18px] md:leading-7 font-semibold;
}

.text-body-base {
  @apply text-[16px] leading-[26px] md:text-[18px] md:leading-[26px];
}

.text-body-small {
  @apply text-[16px] leading-[26px];
}

.text-body-small-s {
  @apply text-[14px] leading-[22px];
}

.text-body-caption {
  @apply text-[12px] leading-5;
}

.text-body-caption-footer {
  @apply text-[16px] leading-[26px] md:text-[18px] md:leading-7;
}

.main-nav-item {
  & > a {
    & > button {
      @media (min-width: 1200px) {
        margin-left: 10px !important;
      }
    }
  }
}

.main-nav-dropdown-links-wrapper {
  overflow: hidden;
  width: 100%;
  padding-left: 10px;
  border-radius: 10px;

  li {
    overflow: hidden;

    &:first-child {
      margin-top: 8px;
    }

    a {
      white-space: nowrap;
      max-width: 100%;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 9px 16px;
      transition: var(--transition);

      &:hover {
        background: var(--color-secondary-light);
      }
    }
  }

  @media (min-width: 1200px) {
    position: absolute;
    background: var(--color-primary-white);
    top: 99%;
    left: -25px;
    width: 250px;
    padding: 0;
    box-shadow:
      0 20px 25px -5px rgb(0 0 0 / 0.1),
      0 8px 10px -6px rgb(0 0 0 / 0.1);

    li {
      margin: 0 !important;
    }
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.testimonial-v2-embla {
  .embla__container {
    display: flex;
    justify-content: flex-start;
    .embla__slide {
      flex: 0 0 80vw;
      margin: 0 20px;
    }
    @media (min-width: 768px) {
      .embla__slide {
        flex: 0 0 50%;
        margin-left: 0;
        margin-right: 20px;
      }
    }
    @media (min-width: 1200px) {
      .embla__slide {
        flex: 0 0 25%;
      }
    }
  }
}

.add-gap {
  margin-bottom: 32px;
  @media (min-width: 768px) {
    margin-bottom: 40px;
  }
  @media (min-width: 1280px) {
    margin-bottom: 60px;
  }
}

.section-title-width {
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
}

.section-bg {
  background-color: #faf9f6;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg.png");
    background-size: cover;
    background-position: center;
    opacity: 0.125;
  }
}

.section-padding-x {
  padding-right: 16px;
  padding-left: 16px;
  @media (min-width: 768px) {
    padding-right: 40px;
    padding-left: 40px;
  }
  @media (min-width: 1280px) {
    padding-left: 80px;
    padding-right: 80px;
  }
  @media (min-width: 1440px) {
    padding-left: 0px;
    padding-right: 0px;
  }
}
